HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Front
# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/.DS_Store
front/dist
front/dist-ssr
front/coverage
front/*.local

# Editor directories and files
front/.vscode/*
front/!.vscode/extensions.json
front/.idea
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?

front/*.tsbuildinfo

front/.eslintcache

# Cypress
front/cypress/videos/
front/cypress/screenshots/

# Vitest
front/__screenshots__/

