spring:
  data:
    web:
      pageable:
        one-indexed-parameters: true
        default-page-size: 5

  datasource:
    url: jdbc:mariadb://localhost:3306/blogservice
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

management:
  endpoints:
    web:
      base-path: /actuator
  health:
    db:
      enabled: true

refreshtoken:
  expire: 604800000   # 7일 (1주일)
jwt:
  secret: dskjfsd32r5fj023jfdsjd3fopsfjd09fsdvsdfv23r3fnomnkn2fosk23p9fjpo23
  expire: 1800000      # 30분


---
spring:
  config:
    activate:
      on-profile: measurement

  datasource:
    url: jdbc:mariadb://localhost:3306/blogservice_measurement
    username: root
    password: root
  jpa:
    show-sql: false